* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

main {
    padding-top: 10vh;
    width: 100%;
}

.cadeau {
    cursor: pointer;
    width: 32px;
    height: auto;
}

video {
    display: none;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 800px;
    height: auto;
}

body {
    position: relative;
}

.drag {
    z-index: 2;
    position: fixed;
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-color: blueviolet;
    user-select: none;
}

#dragtarget {
    z-index: 1;
    position: fixed;
    cursor: pointer;
    width: 42px;
    height: 42px;
    top: 150px;
    left: 150px;
    border:2px solid blueviolet;
}

/*////////////////////////////////*/
/*//      Header : Menu         //*/
/*////////////////////////////////*/

header {
    position: relative;
    z-index: 100;
    display: block;
    position: fixed;
    width: 100vw;
    height: auto;
    padding: 0.5vw;
    background-color: rgb(36, 36, 36);
}

header #cadeau3 {
    z-index: 1000;
    position: absolute;
    top: -5%;
    right: 0.45%;
    transform: rotateZ(240deg);
    width: 32px;
}

#cadeau1 {
    position: absolute;
    display: none;
    z-index: 1;
    top: -8%;
}

#logo {
    position: relative;
    z-index: 2;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu>li {
    display: inline-block;
    padding-right: 10vw;
}

#menu>li>a>img {
    max-height: 8vh;
}

#menu>li a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}
/*////////////////////////////////*/
/*//            JEU             //*/
/*////////////////////////////////*/
#jeu > h1{
    margin-bottom: 10vh;
}
#jeu{
    background-image: url("../img/virus.png");
    backdrop-filter: blur(10px);
    background-size: cover;
    background-repeat:no-repeat;
    padding-top: 10vh;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 90vh;
    
}
#reponse {
    
}

/*////////////////////////////////*/
/*//        DIV PRINCIPALE      //*/
/*////////////////////////////////*/


section#information {
    padding-top: 5em;
}

.information-article {

    padding: 5em 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 85vh;
}

.information-article>.contenu {
    margin-top: auto;
    display: flex;
    gap: 15%;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 4em;
}

.information-article.reverse .contenu {
    position: relative;
    flex-direction: row-reverse;
}

.information-article>.contenu>.img-article {
    width: 20vw;
    z-index: 3;
    pointer-events: none;
}

.information-article>.contenu .cadeau {
    width: 20px;
    margin-bottom: -4px;
}

.kdo2 {
    z-index: 2;
    position: absolute;
    left: 21.7%;
    top: 53.5%;
}

h1 {
    font-size: 2.3em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1em;
}

.contenu p {
    font-size: 1.1em;
    line-height: 24px;
}

/*////////////////////////////////*/
/*//           FOOTER           //*/
/*////////////////////////////////*/

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 2vw;
    background-color: black;
    color: white;
}

footer .cadeau {
    z-index: 1;
    top: 11%;
    left: 2%;
    position: absolute;
    width: 18px;
    transform: rotateZ(45deg);
}

footer h2 {
    pointer-events: none;
    position: relative;
    z-index: 100;
}

.divfooter {
    display: inline-block;
    vertical-align: top;
    height: auto;
    font-size: 1.4vw;
}

.divfooter>ul>li>a>img {
    vertical-align: top;
    width: 14vw;
    margin-left: 5vw;
}

.divfooter>ul>li>a {
    text-decoration: none;
    color: white;
}

#membres {
    width: 28vw;
}

#logos {
    margin-top: 3vh;
    width: 66vw;
}

#logos>ul>li {
    display: inline-block;
}

.divfooter>ul {
    list-style-type: none;
    display: inline-block;
}