* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: block;
    width: 100vw;
    height: 3vh;
    background-color: black;
}